@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* Slide up from bottom of the screen */
@keyframes slideUp {
  from {
    transform: translateY(100vh); /* Start below the viewport */
  }
  to {
    transform: translateY(0); /* End at the original position */
  }
}

/* Slide down to bottom of the screen */
@keyframes slideDown {
  from {
    transform: translateY(0); /* Start at the original position */
  }
  to {
    transform: translateY(100vh); /* End below the viewport */
  }
}
/* Slide down below content */
@keyframes slideDownReveal {
  from {
    transform: translateY(0); /* Start at the original position */
    opacity: 0;
  }
  to {
    transform: translateY(44px); /* End below the viewport */
    opacity: 1;
  }
}
/* Slide down below content more */
@keyframes slideDownRevealMore {
  from {
    transform: translateY(0); /* Start at the original position */
    opacity: 0;
  }
  to {
    --y: calc(100%+20px);
    transform: translateY(--y); /* End below the viewport */
    opacity: 1;
  }
}
/* Slide down below content more */
@keyframes slideDownSimple {
  from {
    transform: translateY(-50%); /* Start at the original position */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* End below the viewport */
    opacity: 1;
  }
}
/* Slide down below content more */
@keyframes slideUpSimple {
  from {
    transform: translateY(0); /* Start at the original position */
    opacity: 1;
  }
  to {
    transform: translateY(-50%); /* End below the viewport */
    opacity: 0;
  }
}
/* Fade in (Opacity transition) */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade out (Opacity transition) */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/* Slide right to end of the screen */
@keyframes slideRight {
  from {
    transform: translateX(0); /* Start at the original position */
  }
  to {
    transform: translateX(500vw); /* End below the viewport */
  }
}
/* Slide right to end of the screen */
@keyframes slideReset {
  from {
    transform: translateX(500vw); /* Start at the original position */
  }
  to {
    transform: translateX(0); /* End below the viewport */
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

*{
  box-sizing: border-box;
}
*::-webkit-scrollbar{
  display: none;
}
